<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eleven.app" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.eleven.app.util.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.eleven.app.activities.MainActivity"
            android:logo="@drawable/ic_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eleven.app.activities.SettingActivity"
            android:label="@string/title_activity_setting_avtivity"
            android:logo="@drawable/ic_launcher"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <receiver
            android:name="com.eleven.app.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.eleven.app.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="com.eleven.app.services.AlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
